.button {
  background: var(--gray-dark);
  border: var(--gray-dark);
  padding: 15px 30px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.button:hover {
  background: var(--second);
}

.button:active {
  scale: 0.8;
}

.outlined {
  background: transparent;
  color: var(--text);
  border: 1px solid var(--gray-dark);
}

.outlined:hover {
  background: var(--gray-dark);
  color: white;
}
