.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  text-align: center;

  h3 {
    padding-bottom: 30px;
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    padding-top: 50px;
    gap: 20px;
  }
}

.buttonContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  gap: 20px;
}

.memoji {
  background: var(--gradient);
  border: 1px solid var(--second);
  box-shadow: var(--shadow-box);
  border-radius: 50%;
  width: auto;
}

.logo {
  margin: auto;
  height: auto;
  margin-top: 10px;
  width: 200px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid var(--second);
  background: white;
}

.githubIcon {
  margin-top: 20px;
  width: auto;
  cursor: pointer;
  border-radius: 50%;
  // box-shadow: var(--shadow-box);
  background: white;
}
