.contact {
  width: 100%;
  max-width: 600px;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
  }

  a:hover {
    transition: 0.3s ease-in-out;
    background: black;
    p {
      color: white;
    }
  }

  p {
    color: black;
    padding-left: 30px;
  }
}

.contactIcon {
  color: var(--gray-light);
  height: 40px;
  width: 40px;
}
