.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.memoji {
  border: 1px solid var(--second);
  box-shadow: var(--shadow-box);
  background: var(--gradient);
  border-radius: 50%;
  width: auto;
  max-width: 90vw;
}
