.container {
  width: 100vw;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 40px;

  @media (max-width: 800px) {
    flex-direction: column-reverse;
    padding: 0 40px;
  }

  p {
    max-width: 400px;
  }
}

.memoji {
  transform: translateY(-10%);
}
